#nav-side-menu-bar-wrapper
    .nav-side-menu-bar
        .nav-side-menu-header
            h4 관리자 페이지
        ul.menu-wrapper
            li
                a(href="/admin/orderStatus?page=1") 주문현황 확인하기
            li
                a(href="#") 포토슬라이더 수정하기
            li
                a(href="/admin/product?page=1") 상품 추가 / 삭제