.footer-wrapper
    .footer
        #customerService.layout-wrapper
            h2 고객센터
            .call
                h3
                    span 전화문의 (010 - 0000 - 0000)
                dl.list
                    dt 평일
                    dd 오전 8시 - 오후 4시
                        span.sub (점심시간 오후 12시 ~ 오후 1시)
                dl.list
                    dt 토요일, 일요일, 공휴일
                    dd 오전 8시 ~ 오후 12시
            .qna
                h3
                    a(href="#") 1:1 문의 >
                p.desc
                    | 궁금하신점이 있으신가요? <br>
                    | 1:1문의에 남겨주시면 친절히 답변 드리겠습니다.
        #footerInfo.layout-wrapper
            h2 금당두릅농장
            .info-farm
                dl.list
                    dt 농장주 :
                    dd 어머니
                dl.list
                    dt 계좌 :
                    dd 신한은행 110-222222-222
                dl.list
                    dt 주소 :
                    dd 대전광역시 유성구 궁동 충남대학교
            .cr
                p Copyright ⓒ 2019 금당두릅농장. All right reserved.
