{
    color: #d0efb5;
    color: #defbc2;
    color: #d6f8b8;
    color: #acdeaa;
    color: #7da87b;
    color: #bdcf88;
    color: #acdb86;
    color: #88B04B; /* greenary */
    color: #587850;
    color: #36622b;
    color: #4c9173;
    color: #437975;
    color: #1b4b36;
}