.header-wrapper{}
.header{}
/*userMenu*/
#userMenu{
    margin: 0 auto;
    width: 1050px;
}
#userMenu:after{
    content: "";
    display: block;
    width: 100%;
    overflow: hidden;
}
#userMenu .list_menu{
    float: right;
}
#userMenu .menu{
    position: relative;
    z-index: 400;
    float: left;
}
#userMenu .menu:after {
    content: "";
    float: right;
    width: 1.1px;
    height: 13px;
    margin-top: 9px;
    background-color: #d8d8d8;
}
#userMenu .menu:nth-child(2):before{
    content: "";
    position: absolute;
    right: 7px;
    top: 6px;
    width: 15px;
    height: 12px;
    background: url("/images/icon/sort-down-solid.svg") no-repeat;
    background-size: 15px 12px;
}
#userMenu .link_menu {
    float: left;
    height: 31px;
    padding: 0 23px 0 10px;
    color: #3b3b3b;
    line-height: 29px;
}
#userMenu .none_sub .link_menu {
    padding: 0 10px 0 10px;
}
#userMenu .lst .link_menu {
    padding-right: 0;
}
#userMenu .lst:after{
    width: 0;
}
#userMenu .sub{
    display: block;
    position: absolute;
    left: 0;
    top: 31px;
    width: 102px;
    padding: 3px 9px;
    border: 1px solid #ddd;
    background-color: #fff;
}
/*logo*/
#head-logo .head-title{
    padding: 13px 0 25px;
    text-align: center;
    font-size: 2rem;
}
/*head-menu-bar*/
#head-menu-bar-wrapper{
    position: relative;
    height: 45px;
    font-family: 'Noto Sans', 'Noto Sans kr';
    letter-spacing: 0;
}
#head-menu-bar-wrapper:before{
    content: '';
    display: block;
    width: 100%;
    height: .5px;
    background-color: #d2d2d2;

}
#head-menu-bar-wrapper .head-menu-bar{
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 300;
    width: 1050px;
    margin: 0 auto;

}
#head-menu-bar-wrapper .head-menu-bar li{
    float: left;
}
#head-menu-bar-wrapper .head-menu-bar a{
    overflow: hidden;
    float: left;
    height: 45px;
    padding: 13px 80px 0 78px;
    font-size: 14px;
    color: #000;
    line-height: 20px;
}
#head-menu-bar-wrapper .head-menu-bar .active{
    background-color: #88B04B;
    color: #fff;
}
#head-menu-bar-wrapper .head-menu-bar a .text{
    padding-bottom: 2px;
}
#head-menu-bar-wrapper .head-menu-bar a:hover .text{
    border-bottom: 1px solid #88B04B;
    color: #36622b;
}

