doctype html
html
    head
        include ../Include/headTag
        link(rel='stylesheet', href='/stylesheets/Customer/notice.css')

    script.
        var ajax = {
            /**
             * ajax post request를 수행하고 결과 반환
             */
            requestGET: function (url, param) {
                var ret = null;

                jQuery.ajax({
                    url: url,
                    data: param,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        // console.log(data);
                        ret = data;
                    }
                });

                return ret;
            }
        }
        var pageNumber = #{pagenumber}

        // Inquire notice
        function inqrData() {
            vData = ajax.request("/customer/notice/inqrNoticeAll", {page: pageNumber});
        }

        function dsplyNotices() {
            $(vData.notice).each(function() {
                var tBody = $("#tableBody");
                dsplyPostRow(tBody, this);
            });
        }

        function dsplyPostRow(body, obj) {
            console.log(obj);

            var tr = document.createElement("tr");
            $(tr).attr("notice_id", obj.NOTICE_ID);
            $(tr).append(
                "<td class=\"td-number cntnt-num\">" + obj.ROWNUM + "</td>"
                + "<td class=\"td-title cntnt-title\">" + obj.NOTICE_TITLE + "</td>"
                + "<td class=\"td-date cntnt-date\">" + obj.REGIST_DATE + "</td>"
            );

            body.append(tr);

            $(tr).on('click', function(){
                var noticeId = $.trim($(this).attr('notice_id'));
                window.location.href = "/customer/notice/detail?noticeId=" + noticeId;
            });

        }

        var vData;
        $(document).ready(function () {
            inqrData();
            dsplyNotices();
        });
    body
        include ../Include/header
        .main
            #notice-content.layout-wrapper
                .title-section
                    h3 공지사항
                .regist-section
                    a(href="/customer/notice/new") 글쓰기 >
                .list-section
                    table#list-table(style='width:100%;')
                        thead
                            tr
                                th.table-header.td-number No.
                                th.table-header.td-title 제목
                                th.table-header.td-date 등록일자

                        tbody#tableBody

        include ../Include/footer