doctype html
html
    head
        include ../Include/headTag
        link(rel='stylesheet', href='/stylesheets/Customer/notice.css')

    script.
        var ajax = {
            /**
             * ajax post request를 수행하고 결과 반환
             */
            request: function (url, param) {
                var ret = null;

                jQuery.ajax({
                    url: url,
                    data: param,
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        console.log(data);
                        ret = data;
                    }
                });

                return ret;
            }
        }
        var noticeId = #{noticeId}

        function inqrData() {
            var vData = ajax.request('/customer/notice/inqrDetail', {noticeId: noticeId});

            if (failToGetData(vData)) {
                alert("내용을 가져오는 데 실패하였습니다.\n잠시 후 다시 시도해 주시기 바랍니다.");
                return false;
            }

            dsplyDetail(vData.detail);
        }

        function failToGetData(data) {
            return (data.result == false) ? true : false;
        }

        function dsplyDetail(data) {
            var tbody = $(".metaBody");
            tbody.append(
                "<tr>" +
                "<th> 제목 </th>" +
                "<td colspan='3'>" + data.NOTICE_TITLE + "</td>" +
                "</tr>" +
                "<tr>" +
                "<th> 등록일 </th>" +
                "<td>" + data.REGIST_DATE + "</td>" +
                "<th> 작성자 </th>" +
                "<td class='writer'>" + data.WRITER + "</td>" +
                "</tr>"
            );

            $(".click-total").text("조회수 : " + data.CLICK_NUM);

            var content = $(".content");
            content.append(
                data.NOTICE_CONTENT
            );
        }

        $(document).ready(function () {
            inqrData();
        });
    body
        include ../Include/header
        .main
            #notice-detail.layout-wrapper
                .detail-header
                    h3 공지상세
                table.metaTable
                    tbody.metaBody
                .click-total
                .content(overflow:auto)
        include ../Include/footer