doctype html
html
    head
        include ../Include/headTag
        link(rel='stylesheet', href='/stylesheets/Customer/notice.css')
        script(src="/javascripts/Include/ajax.js")

    script.
        var noticeId = #{noticeId}

        function inqrData() {
            var vData = ajax.requestPOST('/customer/notice/inqrDetail', {noticeId: noticeId});

            if (failToGetData(vData)) {
                alert("내용을 가져오는 데 실패하였습니다.\n잠시 후 다시 시도해 주시기 바랍니다.");
                return false;
            }

            dsplyDetail(vData.detail);
        }

        function failToGetData(data) {
            return (data.result == false) ? true : false;
        }

        function dsplyDetail(data) {
            var tbody = $(".metaBody");
            tbody.append(
                "<tr>" +
                "<th> 제목 </th>" +
                "<td colspan='3'>" + data.NOTICE_TITLE + "</td>" +
                "</tr>" +
                "<tr>" +
                "<th> 등록일 </th>" +
                "<td>" + data.REGIST_DATE + "</td>" +
                "<th> 작성자 </th>" +
                "<td class='writer'>" + data.WRITER + "</td>" +
                "</tr>"
            );

            $(".click-total").text("조회수 : " + data.CLICK_NUM);

            var content = $(".content");
            content.append(
                data.NOTICE_CONTENT
            );
        }

        $(document).ready(function () {
            inqrData();
        });

    body
        include ../Include/header
        .main
            #notice-detail.layout-wrapper
                .detail-header
                    h3 공지상세
                table.metaTable
                    tbody.metaBody
                .click-total
                .content(style="overflow:auto")
                #disqus_thread
                script.
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://farmweb.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                noscript
                    | Please enable JavaScript to view the
                    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.

        include ../Include/footer