mixin products_item(title, price, desc)
    li
        .products_item
            .thumb
                a(href="/products/detail?id=1")
                    img(src="")
            a.info(href="/products/detail?id=1")
                span.name #{title}
                span.cost #{price}
                span.desc #{desc}
            .tag