doctype html
html
    head
        include ../Include/headTag
        link(rel="stylesheet", href="/stylesheets/Products/products_detail.css")
        script(src="/javascripts/Include/ajax.js")
        script(src="/javascripts/Products/products_detail.js")

    body
        include ../Include/header
        include products_detail_mixin
        script.
            $(document).ready(function(){
                getProductDetail(#{item_id});
                paging();
                getReviewList(#{review});
                getcustomerList(#{customer});
                pageReload();
            })

        #content
            .products_detail
                #products-summary-wrapper
                    .products_image
                        img(src="#")
                    .products
                        .products-header
                            h3.name
                            p.desc
                        .products-form-table-wrapper
                            table.products-form-table
                                tr
                                    th.products-form-table-heading 판매가
                                    td.products-form-table-cell.price
                                tr
                                    th.products-form-table-heading 판매 단위
                                    td.products-form-table-cell.sell-unit
                                tr
                                    th.products-form-table-heading 중량/용량
                                    td.products-form-table-cell.weight
                                tr
                                    th.products-form-table-heading 배송 구분
                                    td.products-form-table-cell.deliver
                                tr
                                    th.products-form-table-heading 구매 수량
                                    td.products-form-table-cell
                                        button -
                                        input(value='1' size=2)
                                        button +
                        .products-total-price
                            | 총 상품 가격은 :&nbsp;
                            span 20,000
                            |원
                        .products-btn-wrapper
                            button.buybtn 구매하기
                            button.cartbtn 장바구니

                #products-detail-section
                    +products-detail-header("detail-decs")
                    .products-detail-desc
                        .desc 상품 자세한 설명
                    +products-detail-header("review-table")
                    .products-review
                        .products-section-header
                            h3 고객 후기
                        .products-section-table-wrapper
                            table
                                thead
                                    tr
                                        th No.
                                        th.title 제목
                                        th 만족도
                                        th 조회수
                                        th 작성자
                                        th 등록일
                                tbody.review-list

                        #reviewPagination.pagination
                            button.first-paging-button first
                            button.prev-paging-button <
                            ul.reviewPaging.paging
                            button.next-paging-button >
                            button.last-paging-button last

                        .products-section-pagination-wrapper

                    +products-detail-header("customer-table")
                    .products-customer
                        .products-section-header
                            h3 상품 문의
                        .products-section-table-wrapper
                            table
                                thead
                                    tr
                                        th No.
                                        th 문의 유형
                                        th.title 제목
                                        th 조회수
                                        th 작성자
                                        th 등록일
                                tbody.customer-list

                        #customerPagination.pagination
                            button.first-paging-button first
                            button.prev-paging-button <
                            ul.customerPaging.paging
                            button.next-paging-button >
                            button.last-paging-button last

                        .products-section-pagination-wrapper
        include ../Include/footer
