doctype html
html
    head
        include ../Include/headTag
        link(rel='stylesheet', href='/stylesheets/Products/products_list.css')

    body
        include ../Include/header
        include products_mixin
        .main
            #content
                .page-article
                    #page-info
                        h2.title 베스트 상품
                    #productsList
                        .list_products
                            ul.list
                                +products_item
                                +products_item
                                +products_item
                                +products_item
                                +products_item
                                +products_item

                    #pagination

        include ../Include/footer
